<h2>Add New Author</h2>
<form class="mt-20">
  <div class="mb-3">
    <label for="fname" class="form-label">
      Title
    </label>
    <input
      type="text"
      class="form-control"
      id="fname"
      placeholder="First Name"
      formControlName="first_name"
    />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">
      Select Author
    </label>
    <select class="form-select">
       <option>Hello</option>
    </select>
    <!-- <input
      type="email"
      class="form-control"
      id="email"
      placeholder="email"
      formControlName="email"
    /> -->
  </div>

  <div class="mb-3">
    <label for="about" class="form-label">
      Description
    </label>
    <textarea
      formControlName="description"
      class="form-control"
      id="about"
      rows="3"
      placeholder="description"
    ></textarea>
  </div>

  <button class="btn btn-info mb-3">Add Book</button>
</form>
